.cover__link {
  color: #FFF;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover {
    opacity: 0.8; 
}