.place__block{
  width: 100%;
  max-width: 484px;
}

@media screen and (max-width: 1279px) {
  .place__block {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__block {
    max-width: 352px;
  }
}

@media screen and (max-width: 767px) {
  .place__block {
    max-width: 288px;
    margin-left: 16px;
  }
}